* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template:
    "side-menu main" 1fr
    "footer footer" auto /
    auto 1fr;
}
.container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
.header-row1 {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 250px;
  background-color: #090b12;
}
.header-row2 {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: 70px;
  margin-top: 25px;
  align-items: center;
   background-color: #141922;
}
.header-row1-word {
  text-align: center;
  padding-top: 13px;
  border-radius: 30px;

  border: 4px solid white;
}
.header-row2-nav {
  display: grid;
  grid-auto-flow: column;
  margin-left: 100px;
  margin-right: 100px;
}

/* aside styles */
.side-menu {
  grid-area: side-menu;
  background-color: lightblue;
}
/* main style */

.main {
  grid-area: main;
  background-color: #141922;
}
.main-music-section {
  color: white;
}

h2 {
  color: white;
  margin-bottom: 1rem;
}
h3 {
  font-size: 25px;
  color: white;
}
p {
  font-size: 20px;
  color: gray;
}
.main-music-section h3 .main-music-section p {
  margin-bottom: 0.5rem;
}
.album-cover {
  width: 100%;
  height: 220px;
  margin-bottom: 0.5rem;
}
img {
  width: 100%;
  object-fit: cover;
}
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 1rem;
}
.text-align-center {
  text-align: center;
  margin-top: 25px;
}
/* footer style */
.footer {
  grid-area: footer;
  background-color: #282828;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 70px;
  color: white;
}
.footer-left {
  display: grid;
  grid-auto-flow: column;
}

.footer-left-column1 {
  display: grid;
  grid-auto-flow: column;

  align-items: flex-start;
}
.footer-left-column2 {
  display: grid;
  grid-auto-flow: column;

  align-items: center;
}
.footer-left-column1-icon {
  width: 50px;
  height: 50px;
}
.footer-left-column2-icon {
  width: 30px;
  height: 30px;
}

.footer .center {
  text-align: center;
}
.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 25px;
}

.button {
  width: 30px;
  height: 30px;

  border: 1px solid black;
  padding: 5px;
}
.bar {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-gap: 10px;
}
.progress-bar {
  display: grid;
  align-content: center;
}
.progress-wrapper {
  height: 5px;
  border-radius: 5px;

  background-color: #353535;
  overflow: hidden;
}
.progress-completion {
  background-color: #c1c1c1;
  height: 100%;
  width: 20%;
  transition: 3s;
}
.progress-completion {
  width: 90%;
}
.footer-right {
  display: grid;
  grid-template-columns: repeat(3, 50px) 1fr;

  align-items: center;
}
.footer-right-icon {
  width: 30px;
  height: 30px;
}
.footer-right-bar {
  display: grid;
  align-items: center;
}

.footer-right-sound-progress-bar-wrapper {
  height: 5px;
  border-radius: 5px;
  background-color: #535353;
  overflow: hidden;
}
.footer-right-sound-progress-bar-completion {
  background-color: #bababa;
  height: 100%;
  width: 20%;
  transition: 3s;
}
.footer-right-sound-progress-bar-completion {
  width: 90%;
}
